venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env


.env
.venv/


# Ghidra
*.gpr
*.rep/
ghidra_project/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
builds/
builds_x86/
analysis_workspace/
report_*.json
vulnerable_fs/
test_fs/
test_dummy.elf
random.bin
hardening_patch.sh
*.bin
*.extracted
# ghidra_output/
ml/final_training_dataset.json
ghidra_project/