# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Compiled Binaries
*.elf
*.ihx
*.o
*.so
*.dll
*.dylib
*.exe

.env

# Project Specific Output
dataset_binaries/
ghidra_output/

# Ghidra
*.gpr
*.rep/
ghidra_project/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
